{{!--Vamos chamar axtrutura "each" do handlebars p/ laeretar erros vindo da configuracao d validacao d formulario no ficheiro
admin.js --}}
{{#each erros}}{{!--Abrir--}} 
<div class="alert alert-danger">{{texto}}</div> {{!--de cada erros no formulario vai exibir o valor q esta no "rexto", vindo do admin.js--}}
{{else}}

{{/each}} {{!--Fechar--}}

<h2>Nova categoria</h2>
<br>
<div class="card-body">
    <form action="/admin/categorias/nova" method="POST">
    <label for="nome">Nome: </label>
    <input type="text" id="nome" name="nome" placeholder="Nome da categoria" class="form-control">
    <label for="slug">Slug</label>
    <input type="text" id="slug" name="slug" placeholder="Slug da categoria" class="form-control"><br>
    <button class="btn btn-success">Criar categoria</button>
</form>
</div>