                

{{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div> {{!-- "success_msg" eh variaveis globais vindo do app.js--}}
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div> {{!--"error_msg" eh variaveis globais vindo do app.js--}}
{{/if}}

{{!-- Essa partia eh apenas para exibir msg d sucesso e erro --}}